<aside class="col-md-3">
  <div class="bg-light rounded p-3">
    <h3 class="h3">Nuestros Sellos</h3>
    <div class="mb-3">
      {% include lista-generos-sellos.html %}
    </div>
    
    <div class="btn-group rounded-pill" role="group" aria-label="Basic example">
      <a href="{{ site.baseurl }}/sellos" type="button" class="btn btn-outline-danger btn-sm">sellos</a>
      <a href="{{ site.baseurl }}/catalogo" type="button" class="btn btn-outline-danger btn-sm">todos los libros</a>
    </div>
  </div>
</aside>