{% assign today = site.time | date: "%s" %}
{% assign lanzamiento = libro.lanzamientoLibro | date: "%s" %}
{% assign difference = today | minus: lanzamiento %}
{% assign thirty_days = 30 | times: 86400 %}

<div class="col-6 col-md-2 mb-3">
  <a href="{{ site.baseurl }}{{ libro.url }}"
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
    {% if difference <= thirty_days %}
    <div
      class="card border-orange bg-light bg-gradient shadow d-flex h-100 mb-3 overflow-hidden">
    {% else %}
      <div class="card bg-white shadow-sm d-flex h-100 mb-3 overflow-hidden">
        {% endif %}
        <div class="card-image text-center">
          {% if difference <= thirty_days %} <div
            class="card-image-overlay position-absolute bg-dark bg-opacity-25 fw-bold montserrat text-light fs-9 top-1 border border-white px-2 shadow-sm rounded-end"
            style="backdrop-filter: blur(3px) grayscale(10%);">
            <small>lanzamiento</small>
        </div>
        {% endif %}
        <img src="{{ site.baseurl }}/assets/img/libros/portadas/{{libro.portadaLibro}}" alt=""
          class="img-fluid rounded shadow border-light w-100">
      </div>
      <div class="card-body pb-0 h-100">
        {% if libro.selloLibro %}
        <small class="text-danger text-uppercase fw-bolder text-small">
          {{ libro.selloLibro}}
        </small>
        {% endif %}
        {% if libro.selloLibro %}
        <p class="h6 text-black mb-2 text-capitalize">
          <b>{{ libro.title }}</b>
        </p>
        {% endif %}
        {% if libro.autorLibro %}
        <p class="text-black text-capitalize mb-0 lh-1 fw-lighter" id="autorLibro ">
          {{ libro.autorLibro }}
        </p>
        {% endif %}
        {% if libro.lanzamientoLibro %}
        <small><span class="text-black text-small fw-lighter fs-9"><small>{{libro.lanzamientoLibro}}</small> </span></small>
        {% endif %}
      </div>
    </div>
  </a>
</div>