<article class="container-fluid bg-danger-subtle my-3 py-3" id="hero-instagram">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-4">
        <a class="" href="https://www.instagram.com/speedwagon_media_works/" target="_blank">
          <img src="{{ site.baseurl }}/assets/img/hero_instagram.jpg" alt="" class="img-fluid rounded">
        </a>

      </div>
      <div class="col-8 text-center">
        <h3 class="h1">Síguenos en Instagram</h3>
        <p>Revisa nuestras novedades y las promociones que tenemos para ti.</p>
        <a class="btn btn-danger btn-lg rounded-pill" href="https://www.instagram.com/speedwagon_media_works/"
          target="_blank"><i class="fa-brands fa-instagram"></i> speedwagon_media_works</a>
      </div>
    </div>
  </div>
</article>