<section class="container-fluid bg-dark text-light my-3" id="hero-catalogo">
  <div class="row d-flex align-items-center">
    <div class="col-6 px-0">
      <a class="" href="{{ site.baseurl }}/catalogo">
        <img src="/assets/img/catalogo.jpg" alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-6 text-center">
      <h3 class="h1">Catálogo de libros</h3>
      <a class="btn btn-light btn-lg rounded-pill disabled" href="{{ site.baseurl }}/catalogo">Comprar Aquí</a>
    </div>


  </div>
</section>