<section class="container-fluid bg-light text-dark my-3" id="hero-autores">
  <div class="row d-flex align-items-center">
    <div class="col-6 text-center">
      <h3 class="h1">Nuestros autores</h3>
      <a class="btn btn-dark btn-lg rounded-pill" href="{{ site.baseurl }}/autores">Conócelos</a>
    </div>
    <div class="col-6 px-0">
      <a class="" href="{{ site.baseurl }}/catalogo">
        <img src="/assets/img/catalogo.jpg" alt="" class="img-fluid">
      </a>
    </div>

  </div>
</section>