<article class="container-fluid bg-dark text-light my-3" id="hero-noticias">
  <div class="row d-flex align-items-center">
    <div class="col-md-4 text-center">
      <h3 class="h1">Noticias</h3>
      <a class="btn btn-danger btn-lg rounded-pill" href="{{ site.baseurl }}/noticias">Infórmate</a>
    </div>
    <div class="col-md-4">
      <a class="" href="{{ site.baseurl }}/noticias">
        <img src="{{ site.baseurl }}/assets/img/hero_noticias.jpg" alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-md-4 text-center">
      {% for category in site.categories limit:3 %}
      <div class="bordeer-bottom mb-3">
        <h6 class="text-danger text-uppercase fw-bolder text-small">
          <b>{{ category[0] }}:</b>
        </h6>
        <ul class="list-group list-group-flush">
          {% for post in category[1] %}
          <li class="list-group-item bg-transparent"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
      <a class="btn btn-danger rounded-pill" href="{{ site.baseurl }}/noticias">ver más</a>
    </div>
  </div>
</article>