<section class="container-fluid bg-light py-3" id="{{ include.titulo }}">
  <div class="row">
    <div class="col-12 mb-3 text-center">
      <h2 class="h2">{{ include.titulo }}</h2>
    </div>
  </div>
  <div class="row">
    {% include aside-sellos.html %}
    <div class="col-md-10">
      <div class="row">
        {% assign sorted_libros = site.libros | sort: 'lanzamientoLibro' | reverse %}
        {% for libro in sorted_libros %}
        {% if libro.autorLibro %}
        {% if include.filtro == "autor" and libro.autorLibro == page.title %}
        {% include card-libro.html %}
        {% elsif include.filtro == "autorLibro" and libro.autorLibro == page.autorLibro %}
        {% include card-libro.html %}
        {% elsif include.filtro == "sello" and libro.selloLibro == page.title %}
        {% include card-libro.html %}
        {% elsif include.filtro == "todos" %}
        {% include card-libro.html %}
        {% elsif include.filtro == "descargas" and libro.descargaLibro %}
        {% include card-libro.html %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>