<article id="lista-generos-sellos">
  <div class="row">
    <div class="col-12">
      <ul class="list-group list-group-flush">
        {% for sello in site.sellos %}
        <li class="list-group-item bg-transparent">
          <a href="{{ site.baseurl }}{{ sello.url }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            {{ sello.title }} 
          </a>   
        </li>
       {% endfor %}
      </ul>
    </div>
  </div>
</article>