---
layout: default
---
<div class="container-fluid mb-3">
  <div class="row bg-white py-3 shadow d-flex align-items-center">
    {% if page.imagenAutor or page.urlAutor %}
    <div class="col-3 text-center">
      {% if page.imagenAutor %}
      <img src="{{ site.baseurl }}/assets/img/autores/{{ page.imagenAutor }}" class="img-fluid rounded-circle w-100"
        alt="{{ page.title }}">
      {% else %}
      <img src="{{ site.baseurl }}/assets/img/speedwagon.jpg" class="img-fluid rounded-circle w-100"
        alt="{{ page.title }}">
      {% endif %}
      {% if page.urlAutor %}
      <a href="{{page.urlAutor}}" target="_blank" rel="noopener noreferrer">{{page.urlAutor}}</a>
      {% endif %}
    </div>
    <div class="col-9">
      {% include container.html %}
    </div>
    {% else %}
    <div class="col-12">
      {% include container.html %}
    </div>
    {% endif %}
  </div>
</div>


{% assign titulo_libros = "Libros por " | append: page.title %}
{% include libros-section.html filtro="autor" titulo=titulo_libros %}