<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
{% include head.html %}


<body class="default d-flex flex-column min-vh-100 bg-dark-subtle futura">
	{% include header.html %}
	<main class="">
		{% if page.image %}
		<div class="container-fluid d-flex align-items-center text-white text-shadow text-shadow-lg"
			style="background-image: url({{ site.baseurl }}/assets/img/cabeceras/{{ page.image }} ); background-position: top center; background-repeat:no-repeat; background-size:contain; no-repeat; min-height: 170px; background-attachment: fixed;">
			{% endif %}
			<div class="container">
				<div class="row my-3">
					<div class="col-12 text-center lh-1" id="title">
						{% if page.title %}
						<h1 class="display-1 text-capitalize lh-1" id="page-title"><b>{{ page.title}}</b></h1>
						{% else %}
						<h1 class="display-1 text-capitalize lh-1" id="site-title"><b>{{ site.title}}</b></h1>
						{% endif %}
					</div>
					{% if page.subtitle %}
					<div class="col-12 text-center mb-3" id="subtitle">
						<h2 class="h2 lh-1" id="page-subtitle">{{ page.subtitle }}</h2>
					</div>
					{% endif %}
					{% if page.autorLibro %}
					<div class="col-12 text-center mb-3" id="autorLibro">
						<h2 class="h2 lh-1 fw-lighter" id="page-autorLibro">por <a href="{{ site.baseurl }}/autores/{{ page.autorLibro | slugify: "latin" }}">
							{{ page.autorLibro }}
						</a></h2>
					</div>
					{% endif %}
				</div>
			</div>
			{% if page.image %}
		</div>
		{% endif %}


		{{ content }}


	</main>
	{% include footer.html %}
	<!-- <script src="{{ '/assets/js/bundle.js' | relative_url }}"></script> -->
</body>

</html>
