---
layout: default
---

<section class="container" id="sello">
  <div class="row my-3">
    <div class="col-md-10 mx-auto rounded shadow p-3 bg-light">
      {{ content }}
    </div>
  </div>
</section>
<section class="container-fluid bg-light" id="sello">
  <div class="container">
    <div class="row my-3 py-3">
      <div class="col-12 mb-3">
        <h3 class="h3">Libros {{page.title}}</h3>
      </div>
      {% for libro in site.libros %}
        {% if libro.selloLibro == page.title  %}
          {% include card-libro.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>